<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" style="background-image: url('../../assets/img/backgrounds/Endless-Constellation.svg'); background-size: inherit; background-position: top center;">
  <!-- <div class="page-header login-page"> -->
    <div class="container">
      <div class="col-sm-8 col-md-6 col-lg-6 ml-auto mr-auto" *ngIf="showEmailInput">
        <form class="example-form">
          <div class="card card-login">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">person</i>
              </div>
              <h4 class="card-title">Forgot Password</h4>
            </div>
            <div class="card-body py-2">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter Email" [formControl]="emailFormControl">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address.
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is
                  <strong>required</strong>.
                </mat-error>
              </mat-form-field>
              <div class="row">
                <div class="col-12" align="end">
                  <button mat-raised-button routerLink="/login" class="btn btn-default btn-sm">Cancel</button>
                  <mat-spinner class="pull-right mx-4" mode="indeterminate" color="primary" [diameter]=30 *ngIf="isResetLoading"></mat-spinner>
                  <button mat-raised-button class="btn btn-primary btn-sm" type="submit" [disabled]="emailFormControl.invalid" (click)="sendPasswordResetLink(emailFormControl.value)"
                    *ngIf="!isResetLoading">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-8 col-md-6 col-lg-6 ml-auto mr-auto" *ngIf="showResetResponse">
        <div class="card card-login">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>
            <h4 class="card-title">Forgot Password</h4>
          </div>
          <div class="card-body py-2" align="center">
            <img src="../../../assets/img/essentials/success.svg" alt="success">
            <p class="mt-1">A password reset link has been sent to {{ emailFormControl.value }}.
              <br> Click on the link to set a new password.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-6 col-lg-6 ml-auto mr-auto" *ngIf="showPasswordInput">
        <form class="example-form" [formGroup]="resetPasswordForm">
          <div class="card card-login">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">person</i>
              </div>
              <h4 class="card-title">Set New Password</h4>
            </div>
            <div class="card-body py-2">
              <div class="row">
                <div class="col-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Enter New Password" formControlName="password" (change)="matchPasswords(resetPasswordForm.value)">
                    <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">Password is
                      <strong>required</strong>.
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('password').hasError('required') && resetPasswordForm.get('password').hasError('requiredLength')">Password must be
                      <strong>8 - 32 characters</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Confirm Password" formControlName="verifypassword" (change)="matchPasswords(resetPasswordForm.value)">
                    <mat-error *ngIf="resetPasswordForm.get('verifypassword').hasError('required')">Password confirmation is
                      <strong>required</strong>.
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('verifypassword').hasError('required') && resetPasswordForm.get('verifypassword').hasError('requiredLength')">Password must be
                      <strong>8 - 32 characters</strong>.
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('verifypassword').hasError('requiredLength') && resetPasswordForm.get('verifypassword').hasError('unmatched')">Passwords
                      <strong>do not match</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12" align="end">
                    <button mat-raised-button routerLink="/login" class="btn btn-default btn-sm">Cancel</button>
                    <mat-spinner class="pull-right mx-4" mode="indeterminate" color="primary" [diameter]=30 *ngIf="isResetLoading"></mat-spinner>
                    <button mat-raised-button class="btn btn-primary btn-sm" type="submit" [disabled]="resetPasswordForm.invalid" (click)="setNewPassword(resetPasswordForm.value)"
                      *ngIf="!isResetLoading">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <app-footer-cmp class="footer" [user-org]="userOrg$ | async"></app-footer-cmp>
  </div>
</div>