<div class="main-content">
  <div class="container-fluid animated fadeIn">
    <search [placeholder]="'Search Widgets ...'" [multiple]="multipleSearchTerms"
      hint="Separate search terms using 'Enter' or 'Comma'" (onSearchChange)="searchTextChanged($event)">
    </search>
    <div class="row mt-3">
      <div class="col-12">
        <widgets-catalog card-title="Widgets Catalog"
                        [widget-catalog]="widgets$ | async | filterWidgetsCatalog: searchTerms"
                        (onWidgetSelect)="addSelectedWidget($event)">
                      </widgets-catalog>
      </div>
    </div>
  </div>
</div>